<h1 class="is-size-2 has-text-weight-bold has-text-centered">Products</h1>
<ul class="columns">
    <% @products.each do |product| %>
        <li class="column has-text-centered">
            <div>

                <%= link_to "#" do %>
                    <p><img src="https://images-na.ssl-images-amazon.com/images/I/417I-l5zPHL._SY445_QL70_.jpg" width="150" alt="<%= product.name %>" %></p>
                    <%= product.name %>
                <% end %>
            </div>
            <p> <%= product.price %> </p>
            <%= link_to "Add to cart", "", class: 'button' %>
        </li>

    <% end %>
    
</ul>
